@model SR9POS.Models.Sale

@{
    ViewData["Title"] = "Create";
}

<h4>Sale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="CustomerId" class="control-label"></label>
            <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
        </div>
        <div class="form-group row">
            <input class="form-control" id="search" placeholder="Barcode...."/>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group row">
            <label asp-for="IssueDate" class="control-label"></label>
            <input asp-for="IssueDate" class="form-control" />
            <span asp-validation-for="IssueDate" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <table class="table table-bordered" id="t1">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Unit</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Amount</th>
                <th>Discount</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
    <div class="col-md-4"></div>
        <div class="col-md-4">
            <p class="text-right">
                <div class="form-group row">
                    <label asp-for="Total" class="col-md-2 col-form-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Total" class="form-control" />
                        <span asp-validation-for="Total" class="text-danger"></span>
                    </div> 
                    </div>
                    <div class="form-group row">
                        <label asp-for="Discount" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Discount" class="form-control" />
                            <span asp-validation-for="Discount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="GrandTotal" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="GrandTotal" class="form-control" />
                            <span asp-validation-for="GrandTotal" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="Receive">Receive$</label>
                        <div class="col-md-10">
                            <input id="Receive" name="Receive" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="Change">Change</label>
                        <div class="col-md-10"> 
                        <input id="Change" name="Change" class="form-control" />
                        </div>
                    </div>
</p>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script>
            $(document).ready(function () {
                $("#search").keypress(function (e) {
                    if (e.keyCode === 13) {
                        $.ajax({
                            method: "GET",
                            dataType:"json",
                            url: "/api/ProductAPI/" + $("#search").val(),
                            success: function (data) {
                                console.log(data);
                                var row = "<tr><td>"+ data.productName +"</td>";
                                "<td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>";
                                $("#t1").append(row);
                            }, error: function (error) {
                                console.log(error);
                            }
                        });
                    }
                });
            });
        </script>
    }
