@model SR9POS.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ProductName" class="control-label"></label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="control-label"></label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
        </div>
        <div class="form-group">
            <label asp-for="UnitId" class="control-label"></label>
            <select asp-for="UnitId" class="form-control" asp-items="ViewBag.UnitId"></select>
        </div>
        <div class="form-group">
            <label asp-for="OnHand" class="control-label"></label>
            <input asp-for="OnHand" class="form-control" />
            <span asp-validation-for="OnHand" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Barcode" class="control-label"></label>
            <input asp-for="Barcode" class="form-control" />
            <span asp-validation-for="Barcode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Cost" class="control-label"></label>
            <input asp-for="Cost" class="form-control" />
            <span asp-validation-for="Cost" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-bordered" id="tProductPrice">
            <thead>
                <tr>
                    <th>Unit</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <button class="btn bg-primary" id="btnAdd"><i class="fa fa-plus-circle"></i> Add</button>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var option = "";
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "getunits",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (content, ajaxObj) {
                    $.each(content, function (i, v) {
                        //console.log(v);
                        option += "<option value='" + v.unitId + "'>" + v.unitName +"</option>";
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
            $("#btnAdd").click(function () {
                var row = "<tr><td><select class='form-control' name='unit[]'>" + option + "</select></td>";
                row += "<td><input class='form-control' name='price[]'/></td>";
                row += "<td><button class='btn btn-danger'><i class='fa fa-trash'></button></td></tr>";
                $("#tProductPrice").append(row);
            });
        });
    </script>
}
