@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="t1">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Description
            </th>
            <th>
                OnHand
            </th>
            <th>
                Barcode
            </th>
            <th>
                Cost
            </th>
            <th>
                Category
            </th>
            <th>
                Unit
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#t1').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "ajax": {
                    "url": "Products/GetData",
                    "type": "POST",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "productName", "name": "productName" },
                    { "data": "description", "name": "description" },
                    { "data": "onHand", "name": "onHand" },
                    { "data": "barcode", "name": "barcode" },
                    { "data": "cost", "name": "cost" },
                    { "data": "categoryId", "name": "categoryId" },
                    { "data": "unitId", "name": "unitId" },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-info" href="AssignedGroups/Edit/' + full.assignedID + '"><span class="fa fa-edit"></span></a>';
                        }, orderable: false
                    },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-primary" href="AssignedGroups/print/' + full.assignedID + '"><span class="fa fa-print"></span></a>';
                        }, orderable: false
                    },
                    {
                        data: null, render: function (data, type, row) {
                            return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.assignedID + "');><span class='fa fa-trash'></a>";
                        }, orderable: false
                    }
                ]
            });
        });
    </script>
} 
